# 가상환경 이름 설정
ENV_NAME=$(basename "$PWD")
PYTHON_VERSION=3.10

# Conda 환경 구축
if ! conda info --envs | grep -q "$ENV_NAME"; then
    conda create -n "$ENV_NAME" python="$PYTHON_VERSION" -y
fi

# Conda 환경 활성화
layout anaconda "$ENV_NAME"

# Conda 환경 활성화 후 실행할 명령어

# Kubectl Version 설정

# Kubernetes Cluster Context 설정
TARGET_CLUSTER_CONTEXT="kind-mlops-test"
export KUBECONFIG="$(pwd)/.kube/config"
kubectl config use-context $TARGET_CLUSTER_CONTEXT

# Namespace 설정
NAMESPACE=$(basename "$PWD") # 지정하지 않으면 현재 디렉토리 이름으로 설정
kubectl config set-context --current --namespace=$NAMESPACE

# Print current configuration
echo "Using KUBECONFIG: $KUBECONFIG"
echo "Current kubectl version: $KUBECTL_VERSION"
echo "Active cluster context: $(kubectl config current-context)"