# 가상환경 이름 설정
ENV_NAME=$(basename "$PWD")

# Conda 환경 구축
if ! conda info --envs | grep -q "$ENV_NAME"; then
    conda create -n "$ENV_NAME" python=3.10 nodejs=16 -y
fi

# Conda 환경 활성화
layout anaconda "$ENV_NAME"

